<a href="https://colab.research.google.com/github/venidaydream/Metodos_cuantitativos/blob/main/metodos_cuantitativos_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = int(input('cuál es el número?:'))
i=1
while i <= n:
    print(i)
    i=i+1
print('done')

cuál es el número?:4
1
2
3
4
done

In [14]:
inversion_inicial = float(input("initial investment: "))
tasa_interes_anual = float(input("annual interest rate: "))

saldo = inversion_inicial
tiempo = 0

while saldo <= inversion_inicial * 2:
    saldo += saldo * tasa_interes_anual
 #   saldo=1+(saldo * tasa_interes_anual)
    tiempo += 1

print(f"It'll take {tiempo} years to duplicate ${inversion_inicial:.2f} with interest rate {tasa_interes_anual*100}% yearly.")

initial investment: 10000
annual interest rate: 0.01
It'll take 70 years to duplicate $10000.00 with interest rate 1.0% yearly.

In [17]:
stock_list=['AAPL', 'GOOGL', 'TSLA', 'MSFT', 'AMZN']
len(stock_list)
stock_list.append('AAPL')

5

In [ ]:
mytuple = ("apple", "banana", "cherry")
mytuple

In [30]:
stock_info=('AAPL', 'apple inc', 150, 152, 149,25000)
max_value = max(stock_info[2:5])
print(max_value)

152

In [38]:
stock_info = ('AAPL', 'apple inc', 150, 152, 149, 25000)

for i in range(len(stock_info)):
    if i == 1:
        name = stock_info[i]
    elif i == 3:
        price = stock_info[i]
    elif i == 5:
        amount = stock_info[i]

value = price * amount
print(f"{name} {value}")

apple inc 3800000